<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Rinconcito"
        android:usesCleartextTraffic="true">

        <!-- Pantalla inicial -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registro -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <!-- Home Cliente -->
        <activity
            android:name=".cliente.ClienteHomeActivity"
            android:exported="false" />

        <!-- Carrito -->
        <activity
            android:name=".cliente.CarritoActivity"
            android:exported="false" />

        <!-- Pago -->
        <activity
            android:name=".cliente.PagoActivity"
            android:exported="false" />

        <!-- Mis Pedidos -->
        <activity
            android:name=".cliente.MisPedidosActivity"
            android:exported="false" />

        <!-- Admin -->
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminPedidoDetalleActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AddEditPlatoActivity"
            android:exported="false" />

        <!-- Splash -->
        <activity
            android:name=".SplashActivity"
            android:exported="false" />

    </application>


</manifest>